<!DOCTYPE html>
<html<% if(is_amp()) { %> amp<% } %>>
  <%- partial('_partial/head') %>
  <body>
    <div id="fb-root" data-turbolinks-permanent></div>
    <header id="header">
      <%- partial('_partial/header') %>
    </header>
    <div id="wrapper">
      <%- body %>
    </div>
    <footer id="footer">
      <%- partial('_partial/footer') %>
    </footer>
    <%- partial('_partial/post_script') %>
    <div class="loading"></div>
  </body>
</html>
