<!DOCTYPE html>
<html amp>
  <%- partial('_partial/head') %>
  <body>
    <header id="header">
      <%- partial('_partial/header') %>
    </header>
    <div id="wrapper">
      <%- body %>
    </div>
    <footer id="footer">
      <%- partial('_partial/footer') %>
    </footer>
    <%- partial('_partial/post_script') %>
  </body>
</html>
