<% if (item.link){ %>
  <% if (item.title){ %>
    <h1 class="article__title"><a href="<%- item.link %>" target="_blank" title="<%= item.title %>"><%= item.title %></a></h1>
  <% } else { %>
    <h1 class="article__title"><a href="<%- item.link %>" target="_blank" title="<%= item.title %>"><%= item.link %></a></h1>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h3 class="article__title"><a href="<%- config.root %><%- item.path %>" title="<%= item.title %>"><%= item.title %></a></h3>
  <% } else { %>
    <h1 class="article__title"><%= item.title %></h1>
  <% } %>
<% } %>
