<%
var isIndex = ""
if (index) isIndex = " is-index"
%>
<article class="<%= item.layout %> article<%= isIndex %>">
  <header class="article__header">
    <time datetime="<%= item.date.toDate().toISOString() %>" class="article__time--header">
      <%= item.date.format("MMM.DD") %>
    </time>
    <%- partial('post/title') %>
  </header>
  <div class="article__entry<%= isIndex %>">
    <% if (item.excerpt && index) { %>
    <%- item.excerpt %>
    <% } else { %>
    <%- item.content %>
    <% } %>
    <footer class="article__footer">
      <% if(index) { %>
        <% if (item.excerpt) { %>
        <div class="text-left">
          <a href="<%- config.root %><%- item.path %>#more" class="article__more-link"><%= theme.excerpt_link %></a>
        </div>
        <% } %>
        <% } else { %>
        <div class="text-center">
          <div class="fb-share-button"
               data-href="<%- page.permalink %>"
               data-layout="button_count">
          </div>
        </div>
        <p align="center">
          <style>.bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#000000 !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 22px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/aotoki"><img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Buy me a Coffee"><span style="margin-left:5px">Buy me a Coffee</span></a>
        </p>
        <iframe scrolling="no" frameborder="0" style="display: block; margin: 0 auto; height: 212px;" src="https://button.like.co/in/embed/elct9620/button?referrer=<%- page.permalink %>"></iframe>
        <% if (item.tags && item.tags.length) { %>
          <%- list_tags(item.tags, {
            show_count: false,
            class: 'article__tag'
          }) %>
        <% } %>
      <% } %>
    </footer>
  </div>
</article>

<% if(is_amp()) {%>
<amp-ad width=1200 height=90
    class="adv"
    type="adsense"
    data-ad-client="ca-pub-2844969736316510"
    data-ad-slot="5530952976">
</amp-ad>
<% } else { %>
  <% if(!index) { %>
    <div class="adv">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 網誌_文末廣告 (Hexo) -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2844969736316510"
      data-ad-slot="5530952976"
      data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  <% } %>

  <%- partial('comments') %>
<% } %>

