<%
var isIndex = ""
if (index) isIndex = " is-index"
%>
<article class="<%= item.layout %> article<%= isIndex %>">
  <header class="article__header">
    <time datetime="<%= item.date.toDate().toISOString() %>" class="article__time--header">
      <%= item.date.format("MMM.DD") %>
    </time>
    <%- partial('post/title') %>
  </header>
  <div class="article__entry<%= isIndex %>">
    <% if (item.excerpt && index) { %>
    <%- item.excerpt %>
    <% } else { %>
    <%- item.content %>
    <% } %>
    <footer class="article__footer">
      <% if(index) { %>
        <% if (item.excerpt) { %>
        <div class="text-left">
          <a href="<%- config.root %><%- item.path %>#more" class="article__more-link"><%= theme.excerpt_link %></a>
        </div>
        <% } %>
        <% } else { %>
        <div class="text-center">
          <div class="fb-share-button"
               data-href="<%- page.permalink %>"
               data-layout="button_count">
          </div>
        </div>
        <p align="center">
          <a href='https://ko-fi.com/J3J78093' target='_blank'>
            <img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi5.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' />
          </a>
        </p>
        <iframe scrolling="no" frameborder="0" style="display: block; margin: 0 auto; height: 212px;" src="https://button.like.co/in/embed/elct9620/button?referrer=<%- page.permalink %>"></iframe>
        <% if (item.tags && item.tags.length) { %>
          <%- list_tags(item.tags, {
            show_count: false,
            class: 'article__tag'
          }) %>
        <% } %>
      <% } %>
    </footer>
  </div>
</article>

<% if(is_amp()) {%>
<amp-ad width=1200 height=90
    class="adv"
    type="adsense"
    data-ad-client="ca-pub-2844969736316510"
    data-ad-slot="5530952976">
</amp-ad>
<% } else { %>
  <% if(!index) { %>
    <div class="adv">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 網誌_文末廣告 (Hexo) -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2844969736316510"
      data-ad-slot="5530952976"
      data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  <% } %>

  <%- partial('comments') %>
<% } %>

